.Players{
    width: 100%;
    height: 100%;
}
.Players nav{
    width: 100%;
    height: 80%;
    color: white;
    background: rgb(51, 120, 148);
}

.Players li{
    padding: 10px 30px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    list-style: none;

}

.Players .table, .Players .form{
    width: 50%;
    margin-top: 60px;
    margin-left: 25%;
    /* border:1px solid rgb(51, 148, 95) ; */
}
/* .Players .table thead, .Players .table tbody{
    border:1px solid rgb(51, 148, 95) ;
} */


.table, th, td {
    margin-top: 50px;
    border: 1px solid rgb(46, 108, 112);
    border-collapse: collapse;
  }
  th , td{
      padding: 5px;
  }

.table tr{

    padding: 5px 20px;
    text-align: left;
}

.btn{
    padding: 10px 15px;
    border: none;
    color: rgb(8, 50, 70) ;
    margin-right: 5px;
    background-color: rgb(75, 183, 190);
}



.Players .form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.form .field{
    width: 33%;
    /* margin-left: 10%;     */
}
.field input{
    font-size: 1.2rem;
    background: rgb(7, 96, 138);
    outline: none;
    border: none;
    padding: 10px 20px;
    color: rgb(75, 183, 190);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(5, 80, 85);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(5, 80, 85);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(5, 80, 85);
  }